[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
  excludesfile = ~/.gitignore
[alias]
  c = commit -m
  a = add
  di = diff
  dic = diff --cached
  pl = pull
  ps = push
  plre = pull --rebase
  st = status
  unpushed = log HEAD..origin
  g = grep --break --heading --line-number
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d%Creset'
[user]
  email = 
  name = KUWASHIMA Yuichiro
[github]
  user = kuwa72
[grep]
  lineNumber = true
[http]
	sslVerify = false
